body{background-color: white}
h1{text-align: center;color: blue}
h2{text-align: center;color: brown}
h3{text-align: center;color: chocolate}
p{text-align: center;color: black}
input{text-align: center;color: black}
button{text-align: center;color: black}